<div class="wrapper">
  <!-- header -->
  <header class="header">
    <div class="container-fixed header__container">
      <a href="#" class="logo">
        <img src="../../../../assets/img/logo.svg" alt="logo">
      </a>
      <div class="search-input">
        <input type="text" placeholder="Company name">
      </div>
      <div class="user-block">
        <a href="#" class="chat">
          <svg class="svg" width="22px" height="22px">
            <use xlink:href="../../../../assets/img/sprite.svg#chat"></use>
          </svg>
        </a>
        <a href="#" class="mag">
          <svg class="svg" width="22px" height="22px">
            <use xlink:href="../../../../assets/img/sprite.svg#message"></use>
          </svg>
        </a>
        <a href="#" class="user-info">
          <div class="user-info__img">
            <img src="../../../../assets/img/user-icon.png" alt="">
          </div>
          <span class="user-name">Maximillian Beekeeper</span>
        </a>
      </div>
    </div>
  </header>
  <!-- /header -->
  <!-- content -->
  <div class="content">

    <!-- main -->
    <main class="main">
      <div class="container-fixed clearfix">
        <!--left column-->
        <div class="col1">
          <ul class="left-menu">
            <li class="left-menu__item">
              <a href="#" class="left-menu__link">
                <svg class="svg" width="24px" height="24px">
                  <use xlink:href="../../../../assets/img/sprite.svg#house"></use>
                </svg>
                Feed</a>
            </li>
            <li class="left-menu__item">
              <a href="#" class="left-menu__link">
                <svg class="svg" width="24px" height="24px">
                  <use xlink:href="../../../../assets/img/sprite.svg#question"></use>
                </svg>Ask a Colleague</a>
            </li>
            <li class="left-menu__item">
              <a href="#" class="left-menu__link">
                <svg class="svg" width="24px" height="24px">
                  <use xlink:href="../../../../assets/img/sprite.svg#companies"></use>
                </svg>Companies</a>
            </li>
            <li class="left-menu__item">
              <a href="#" class="left-menu__link">
                <svg class="svg" width="24px" height="24px">
                  <use xlink:href="../../../../assets/img/sprite.svg#list"></use>
                </svg>Service Directory</a>
            </li>
          </ul>

          <h4>Advertisement</h4>

          <a href="#" class="banner-wrap">
            <img src="../../../../assets/img/banner1.jpg" alt="banner1" class="banner">
          </a>
          <p class="img-title">Ads By Denteez.com</p>

          <div class="company">
            <div class="heading-wrap">
              <h4>Featured Companies</h4>
              <a href="#" class="see-all">See All</a>
            </div>

            <div class="company__item clearfix">
              <a href="#" class="company__img">
                <img src="../../../../assets/img/company1.jpg" alt="">
              </a>
              <div class="company__text">
                <h3 class="company__name">
                  <a href="#">Company Name</a>
                </h3>
                <p class="company__activity">Manufacturer</p>
                <p class="company__adress">Belgrade, Serbia</p>
                <p class="company__follow">
                  <a href="#">Follow Now</a>
                </p>
              </div>
            </div>

            <div class="company__item clearfix">
              <a href="#" class="company__img">
                <img src="../../../../assets/img/company2.jpg" alt="">
              </a>
              <div class="company__text">
                <h3 class="company__name">
                  <a href="#">Company Name</a>
                </h3>
                <p class="company__activity">Service Provider</p>
                <p class="company__adress">New York, USA</p>
                <p class="company__follow">
                  <a href="#">Follow Now</a>
                </p>
              </div>
            </div>

            <div class="company__item clearfix">
              <a href="#" class="company__img">
                <img src="../../../../assets/img/company3.jpg" alt="">
              </a>
              <div class="company__text">
                <h3 class="company__name">
                  <a href="#">Company Name</a>
                </h3>
                <p class="company__activity">Supplier</p>
                <p class="company__adress">London, England</p>
                <p class="company__follow">
                  <a href="#">Follow Now</a>
                </p>
              </div>
            </div>
          </div>

          <p class="copyright">Denteez Copyright 2015</p>
          <p class="copyright">
            <a href="#">Terms of use</a>
            <a href="#">Privacy Policy</a>
          </p>
        </div>
        <!--/left column-->

        <!--right columh-->
        <div class="col3">
          <div class="people">
            <div class="heading-wrap">
              <h4>People you may know</h4>
              <a href="#" class="see-all">See All</a>
            </div>
            <div class="people__item clearfix">
              <h3 class="people__name">
                <a href="#"> Dennis Adams</a>
              </h3>
              <a href="#" class="people__img">
                <img src="../../../../assets/img/dentist1.jpg" alt="">
              </a>
              <div class="people__text">
                <p class="people__activity">Dentist (Practice Owner)</p>
                <p class="people__adress">London, England</p>
                <p class="people__follow">
                  <a href="#">Add Friend</a>
                </p>
              </div>
            </div>

            <div class="people__item clearfix">
              <h3 class="people__name">
                <a href="#">Mary Carpenter</a>
              </h3>
              <a href="#" class="people__img">
                <img src="../../../../assets/img/dentist2.jpg" alt="">
              </a>
              <div class="people__text">
                <p class="people__activity">Dentist (Practice Owner)</p>
                <p class="people__adress">Belgrade, Serbia</p>
                <p class="people__follow">
                  <a href="#">Add Friend</a>
                </p>
              </div>
            </div>

            <div class="people__item clearfix">
              <h3 class="people__name">
                <a href="#">Danielle Salazar</a>
              </h3>
              <a href="#" class="people__img">
                <img src="../../../../assets/img/dentist3.jpg" alt="">
              </a>
              <div class="people__text">
                <p class="people__activity">Dentist (Practice Owner)</p>
                <p class="people__adress">Paris, France</p>
                <p class="people__follow">
                  <a href="#">Add Friend</a>
                </p>
              </div>
            </div>
          </div>

          <div class="product">
            <div class="heading-wrap">
              <h4>Featured Products</h4>
              <a href="#" class="see-all">See All</a>
            </div>
            <div class="product__item clearfix">
              <h3 class="product__name">
                <a href="#">Product Name</a>
              </h3>
              <a href="#" class="product__img">
                <img src="../../../../assets/img/product1.jpg" alt="">
              </a>
              <div class="product__text">
                <p class="product__info">Product Short Description. The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>

            <div class="product__item clearfix">
              <h3 class="product__name">
                <a href="#">Product Name</a>
              </h3>
              <a href="#" class="product__img">
                <img src="../../../../assets/img/product2.jpg" alt="">
              </a>
              <div class="product__text">
                <p class="product__info">Product Short Description. The quick brown fox jumps over the lazy dog.</p>
              </div>
            </div>
          </div>

          <h4>Advertisement</h4>

          <a href="#" class="banner-wrap">
            <img src="../../../../assets/img/banner2.jpg" alt="banner2" class="banner">
          </a>
          <p class="img-title">Ads By Denteez.com</p>
        </div>
        <!--/right columh-->

        <!--    center-->
        <div class="col2">
          <div class="center-heading">
            <button class="btn btn--green">Add New Service</button>
            <h2>Service Directory</h2>
          </div>

          <router-outlet></router-outlet>

        </div>
      </div>
      <!--    /center-->
    </main>
    <!-- /main -->

  </div>
  <!-- /content -->
</div>
<!-- /wrapper -->
