<div class="loader" *ngIf="showLoader"></div>

<div class="center-content" *ngIf="categories">
  <div class="row no-gutters text-center">

    <div class="category-col col-5" *ngFor="let category of categories">
      <div class="category-item">
        <a href="#" class="category-item__link">
          <img class="img-fluid" [src]="category.icon">
        </a>
        <h6 class="category-title">
          <a href="#">{{category.title}}</a>
        </h6>
      </div>
    </div>

  </div>
</div>

<div class="alert alert-secondary alert-dismissible error-msg" role="alert" *ngIf="errorMessage" type="danger">
  {{ errorMessage }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="errorMessage = null">
    <span aria-hidden="true">&times;</span>
  </button>
</div>